<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div>
      <h1>Christmas Shop</h1>

      <p>GET /api/v1/products --> returns all existing products</p>
      <p>
        GET /api/v1/product/[product_number] --> returns the specified product header
      </p>
      <p>POST /api/v1/product --> creates new product. Example:</p>

      <pre style="color:#000000;background:#ffffff;">
        <span style='color:#696969; '>{</span>
        <span style='color:#696969; '>&#xa0;&#xa0;&#xa0;"product_number":10,</span>
        <span style='color:#696969; '>&#xa0;&#xa0;&#xa0;"product_name":"Papa Noel",</span>
        <span style='color:#696969; '>&#xa0;&#xa0;&#xa0;"product_description":"Papa Noel impreso",</span>
        <span style='color:#696969; '>&#xa0;&#xa0;&#xa0;"units_in_inventory":30,</span>
        <span style='color:#696969; '>&#xa0;&#xa0;&#xa0;"credits":150,</span>
        <span style='color:#696969; '>}</span>
      </pre>
    </div>
  </body>
</html>
